In [1]:
print("Hello world")

Hello world

In [2]:
name = "Arie"

In [3]:
name

'Arie'

In [8]:
names_list = ["Bob", "James", "Jim", 4]

In [9]:
names_list

['Bob', 'James', 'Jim', 4]

In [10]:
names_tuple = ("Bob", "James", "Jim")

In [11]:
names_tuple

('Bob', 'James', 'Jim')

In [14]:
names_list[0] = "Arie"
names_list

['Arie', 'James', 'Jim', 4]

In [17]:
product_1 = {"name": "iPhone 16",
             "price": 1199.99,
             "specs": ["camera", "light", "phone"]}

In [22]:
product_1['price']

1199.99

In [23]:
3 ** 3

27

In [24]:
3 * 3

9

In [25]:
144 ** 0.5

12.0

In [26]:
age = 30
name = "Arie"

In [28]:
name.upper()

'ARIE'

In [31]:
name[0]

'A'

In [32]:
name

'Arie'

In [34]:
zin = "Goedemorgen" + " " + name + " " + "hoe gaat het?"
zin

'Goedemorgen Arie hoe gaat het?'

In [39]:
zin = f"Goedemorgen {name} hoe gaat het?"
zin

'Goedemorgen Arie hoe gaat het?'

In [40]:
first_name = "Erling"
last_name  = "Haaland"

full_name  = first_name + last_name
print(full_name)

ErlingHaaland

In [45]:
#  the format function
full_name = "{} {}".format(first_name, last_name)
print(full_name)

Erling Haaland

# Assignments

## Assignment 1

In [43]:
full_name += ". Jr"
full_name

'Erling Haaland. Jr'

In [46]:
full_name_new = full_name + " .Jr"
full_name_new

'Erling Haaland .Jr'

In [50]:
full_name_new = f"{first_name} {last_name} .Jr"

## Assignment 2

In [69]:
first_name = "Jan"
last_name = "Jansen"
full_name_new = f"{first_name} {last_name} .Jr"
full_name_new.replace(first_name, first_name[0], 1)

'J Jansen .Jr'

In [68]:
full_name_new

'Jan Jansen .Jr'

## Assignment 3

"E. Haaland .Jr - Nationality: Norway"

In [70]:
nationality = "Norway"

In [75]:
sentence = f"{full_name_new} - Nationality: {nationality}"
print(sentence)

Jan Jansen .Jr - Nationality: Norway