In [1]:
names_list = ["Bob", "James", "Jim"]

In [5]:
names_list[0] = "Arie"
names_list

['Arie', 'James', 'Jim']

In [16]:
names_list.append("Jaap")

In [17]:
names_list.insert(1, "Gerrit")

In [18]:
names_list

['Arie',
 'Gerrit',
 'Gerrit',
 'James',
 'Jim',
 8,
 8,
 8,
 8,
 'Jaap',
 'Jaap',
 'Jaap']

In [19]:
len(names_list)

12

names_list = ["Bob", "James", "Jim"]
                0      1        2
                -3     -2       -1

In [56]:
names_list = ["Bob", "James", "Jim"]
names_list.append("Arie")

In [28]:
names_list[-1]

'Arie'

In [36]:
names_list

['Bob', 'James', 'Jim', 'Arie']

In [39]:
names_list[-2:]

['Jim', 'Arie']

In [27]:
names_list[3]

'Arie'

In [40]:
4 + 4

8

In [41]:
"Arie" + "Arie"

'ArieArie'

In [43]:
name = "Arie"

In [61]:
names_list += [name]

In [62]:
sorted(names_list, reverse=False)

['Arie', 'Arie', 'Bob', 'James', 'Jim']

In [65]:
sorted(list(set(names_list)))

['Arie', 'Bob', 'James', 'Jim']

In [67]:
person_1 = {"name": "Arie",
            "age": 40, 
            "hobbies": ['surfing', 'gaming', 'gambling']}

In [74]:
person_1.keys()

dict_keys(['name', 'age', 'hobbies'])

In [75]:
person_1.values()

dict_values(['Arie', 40, ['surfing', 'gaming', 'gambling']])

In [77]:
person_1['hobbies'][1]

'gaming'

In [78]:
person_2 = {}

In [83]:
person_2['name'] = "James"
person_2['age'] = 30
person_2['pets'] = [{"type": "cat",
                     "name": "Tommy"},
                     {"type": "dog",
                      "hobbies": ['fetch', 'eating']}]

In [90]:
person_2['pets'][1]['hobbies'][1]

'eating'